<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aperam.kryslan.praticaspadrao">

    <!-- Acessar a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Telas.PraticasActivity"
            android:label="Segunda Activity"
            android:parentActivityName="com.aperam.kryslan.praticaspadrao.MainActivity">


        </activity>
        <activity android:name=".View.Telas.DocumentoDrive" />
        <activity android:name=".View.Telas.SearchActivity" />

        <service android:name=".Controller.Tools.OnClearFromRecentService" android:stopWithTask="false"/> <!--Ativa o serviço que limpa o app da memória quando ele é fechado (para parar o Listener de Screenshot-->
    </application>

</manifest>